
/*--------------------header---------*/
#header {
	display:inline-block
}

/*---------------------nav---------------------*/
#header nav {
	box-shadow: 2px 2px 10px gray;
	text-align:center;
	margin:auto;
	color:blue;
}
#header-nav-div {
	width:100vw;
	box-shadow:5px 5px 5px blue;
	background:#54B29A;
}
#header-nav-div span {
	width:auto;
	display:inline-block;
	padding-bottom:.1em;
}
/*----------------------- MAIN --------------------*/

.main {
        background:conic-gradient( from 180deg at 0% 100%,  #DBDCD6 0deg,  #DBDCD6 55deg,  #DBDCD6 120deg,  #DBDCD6 160deg, transparent 360deg );
   	display: flex;
        flex-direction: column;
        align-items: top;
        padding: 4rem;
	min-height: 100vh;
        font-family: var(--font-mono);
        font-size:1rem;
	}
   .main h1 {
     font-size:1.2rem;
   }
   .main p {
    font-size:1.1rem;
  }
  .description {
       display: inherit;
       justify-content: flex-end;
       align-items: inherit;
       max-width: var(--max-width);
       width: 100%;
    }
  .description p {
    font-size:1rem;
  }
/*---------------------- WARNING ------------------------*/
.note {
	color: #D50606;
	background: #dde1e9;
	font-weight: bolder;
	font-style: italic;
}
.note::before {
	color: yellow;
	background: #212934;
	content: '\26A0 Warning!';
	padding: 0.15em 0.25em;
	position: relative;
	top: -0.8em;
	left: -0.8em
}
